<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

  <header class="topbar">
    <nav class="nav">
      <a href="../home">Home</a>
      <a href="#">collection</a>
      <a href="#">order</a>
      <a href="../login">account</a>
    </nav>
  </header>

  <main>
      <div class="welcome">
          <h1>Welcome back</h1>
          <p>nějaký text k přivítání</p>
      </div>
      <section class="auth-card">
      <h1 class="auth-title">Sign in</h1>

      <form class="auth-form" method="post" action="/login">
        <label class="field">
          <span class="label">Email</span>
          <input class="input" type="email" name="email" placeholder="you@example.com" required />
        </label>

        <label class="field">
          <span class="label">Password</span>
          <input class="input" type="password" name="password" placeholder="••••••••" required />
        </label>

        <button class="btn primary auth__submit" type="submit">Sign in</button>

        <p class="auth-hint">
          Don’t have an account?
          <a class="link" href="../registration">Create account</a>
        </p>
      </form>
    </section>
  </main>

  <footer class="footer">
    <p>&copy; TommyJeans 2025</p>
  </footer>

</body>
</html>