:root {
    /* Fyzika & Spacing */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;

    /* Záměrně ostré hrany evokující okna terminálu */
    --radius-sm: 0px;
    --radius-md: 2px;
    --radius-lg: 4px;
}